h1{ /*element selector*/
    color: brown;
    border-bottom: 1px solid;
}

#pic {
    width:20%; /*Half of entire table*/
}

#info {
    line-height: 1.5em;
}

a { /*element selector*/
    text-decoration: none;
    color: brown;
}

a>href { /*element selector*/
    text-decoration: none;
    color: brown;
}

a:hover{
    color: darkorange;
}

/*set page background color*/

body{
    background-color: antiquewhite;
    padding-left: 160px;
    padding-right: 20px;
}

h2{
    color: brown;
    border-bottom: 1px solid;
    margin-top: 1.2em
}

.extLink
{
    color: blue;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;

    width: 140px;
    height: 100%;
    background-color: rgb(205, 185, 159);
    padding-top: 20px;
    padding-left: 15px;
    line-height: 1.85em;
    font-size: 1.1em;
}

.theProjs
{
    border: 3px solid antiquewhite;
}